<h1>Books</h1>

<%= form_with url: books_path, method: :get, local: true do |form| %>
  <%= form.label :q, "Search" %>
  <%= form.search_field :q, value: @query, placeholder: "title, author, or ISBN" %>
  <%= form.submit "Search" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Category</th>
      <th>Available</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.category.name %></td>
        <td><%= "#{book.available_copies}/#{book.total_copies}" %></td>
        <td><%= link_to "Details", book_path(book) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

